<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h1>여행 상품 상세 페이지</h1>
		<input type="hidden" id="itemId" th:value="${itemDTO.id}"/>
	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<a href="/item/list" class="stext-109 cl8 hov-cl1 trans-04">
				상품
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				<span th:text="${itemDTO.itemNm}">[[${itemDTO.itemNm}]]</span>
			</span>
		</div>
	</div>
		

	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="image/product-detail-01.jpg">
									<div class="wrap-pic-w pos-relative">
										<img th:src="${itemDTO.itemImgDTOList[0].imgUrl}" alt="IMG-PRODUCT">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14" id="itemNm" th:value="${itemDTO.itemNm}">[[${itemDTO.itemNm}]] </h4>

						<span class="mtext-106 cl2">
							<input type="hidden" th:value="${itemDTO.price}" id="price" name="price" />
							<!--주문 장바구니 갈때 필요한 input숨김-->
                        	<span th:text="${itemDTO.price}">[[${itemDTO.price}]]</span>원
						</span>

						<p class="stext-102 cl3 p-t-23" th:text="${itemDTO.itemNm}"></p>
						
						<!--장바구니 담기용 구분, 수량 -->
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div class="size-203 flex-c-m respon6">
									구분
								</div>

								<div class="size-204 respon6-next">
									<div class="rs1-select2 bor8 bg0">
										<select class="js-select2" name="time">
											<option>옵션선택</option>
											<option>성인</option>
											<option>6-12세 아동</option>
											<option>6세미만 유아</option>
										</select>
										<div class="dropDownSelect2"></div>
									</div>
								</div>
							</div>


							<div class="flex-w flex-r-m p-b-10">
								<div class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>

										<input class="mtext-104 cl3 txt-center num-product" type="number" name="count" id="count" value="1">

										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>

									<br/>
									<span>
										<button type="button" onclick="cart()" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
												id="cbtn4">
											카트 담기
										</button>
									</span>
									<span>
										<button type="button" onclick="order()" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
												id="cbtn5">
											결제하기
										</button>
									</span>
								</div>
							</div>	
						</div>

					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item p-b-10">
							<a class="nav-link active" data-toggle="tab" href="#description" role="tab">상세설명</a>
						</li>


					</ul>

					<!-- Tab panes -->
					<div class="tab-content p-t-43">
						<!-- - -->
						<div class="tab-pane fade show active" id="description" role="tabpanel">
							<div class="how-pos2 p-lr-15-md">
								<p class="stext-102 cl6" th:text="${itemDTO.itemDetail}">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	</th:block>
</th:block>
<script>
	$(document).ready(function(){
         calculateTotalPrice();
         $("#count").change(function(){
             calculateTotalPrice();
         })
    })
    function calculateTotalPrice(){
        let count=  $("#count").val();
        let price = $("#price").val();
        $("#totalPrice").html((count*price)+'원');
    }
    function login(){
        alert("로그인 해주세요.");
        location.href = "/member/login";
    }
    function order(){
       let paramData = {
            itemId: $("#itemId").val(),
            count: $("#count").val()
       }
       $.ajax({
            url: "/order",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(paramData),
            dataType: "json",
            success: function(result) {
                alert("결제가 완료되었습니다.");
            },
            error: function(error){
                alert(error.responseText);
            }
       })
    }
     function cart(){
       let paramData = {
            itemId: $("#itemId").val(),
            count: $("#count").val()
       }
       console.log(itemId);
       $.ajax({
            url: "/cart",
            type: "post",
            contentType: "application/json",
            data: JSON.stringify(paramData),
            dataType: "json",
            success: function(result) {

            },
            error: function(error){
                alert(error.responseText);
            }
       })

    }
</script>
</html>