<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{/layout/basic::setContent(~{this::content})}">
	<th:block th:fragment="content">
	<title>Shoping Cart</title>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1"><input type="checkbox" id="checkall" onclick="checkAll()" />Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>

								<tr class="table_row" th:each="cartItem:${result}">
									<td class="column-1">
										<input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}"/>
										<div class="repImgDiv">
											<img th:src="${cartItem.imgUrl}" class="rounded repImg" />
										</div>
									</td>
									<td class="column-2">
										<div>
											<span th:text="${cartItem.itemNm}"></span>
											<div>
												<button type="button" onclick="deleteCartItem(this)"
												th:data-cartItemid="${cartItem.cartItemId}" class="close">X</button>
											</div>
										</div>
									</td>
									<td class="column-3">
										<span th:id="'price'+${cartItem.cartItemId}"
											  th:data-price="${cartItem.price}"
											  th:text="${cartItem.price}+'원'">
										</span>
									</td>
									<td class="column-4" >
											<input style="text-align:center" class="mtext-104 cl3 txt-center num-product" type="number"
												   onchange="changeCount(this)" name="count" th:value="${cartItem.count}"
												   min="1" th:id="'count_'+${cartItem.cartItemId}"/>
									</td>
									<td class="column-5" >
										<span style="text-align:center" th:id="'totalPrice_'+${cartItem.cartItemId}"
											  name="totalPrice" th:text="${cartItem.price*cartItem.count}+'원'">
										</span>
									</td>
								</tr>
							</table>
						</div>
						</div>
					</div>
				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>

						<div class="flex-w flex-t bor12 p-t-15 p-b-30">
							<div class="size-208 w-full-ssm">
								<span class="stext-110 cl2">
									Shipping :
								</span>
							</div>

							<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
								<p class="stext-111 cl6 p-t-2">
									성함과 주소를 정확히 입력해 주세요.
								</p>
								
								<div class="p-t-15">
									<span class="stext-112 cl8">
										배송 정보 입력
									</span>

									<div class="bor8 bg0 m-b-12">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="name" placeholder="성함">
									</div>

									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="telNum" placeholder="전화번호">
									</div>

									<div class="bor8 bg0 m-b-22">
										<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="email" placeholder="이메일">
									</div>
								</div>
							</div>


						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>

							<div class="size-209 p-t-1">
								<br/>
								<span class="mtext-110 cl2 text-danger" id="orderTotalPrice">
									0원
								</span>
							</div>
						</div>

						<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
								type="button" onclick="order()">
							결제하기
						</button>
					</div>
				</div>
			</div>
			</div>
		</div>
	</form>

	</th:block>
</th:block>
<script>
	$(document).ready(function(){
        //체크박스 변경이벤트 체크박스가 변경될때 getOrderTotalPrice()호출
        $("input[name=cartChkBox]").change(function(){
            getOrderTotalPrice();
        })
    })
    function getOrderTotalPrice(){
        let orderTotalPrice = 0;
        //선택된 체크박스순서대로 함수실행
        $("input[name=cartChkBox]:checked").each(function(){
            let cartItemId =  $(this).val();
            let price = $("#price"+cartItemId).attr("data-price");
            let count = $("#count_"+cartItemId).val();
            orderTotalPrice += price*count;
        })
        $("#orderTotalPrice").html(orderTotalPrice+"원");
    }
    //삭제버튼 클릭했을때 삭제요청
    function deleteCartItem(obj){
        console.log(obj);
        let cartItemId = obj.dataset.cartitemid;
        $.ajax({
            url: "/cartItem/"+cartItemId,
            type: "delete",
            dataType: "json",
            success:function(result){
                console.log("장바구니아이템삭제");
                location.href="/cart";
            },
            error: function(error){
                alert(error.responseText);
            }
        })

    }
    //전체선택 체크박스 체크 했을때 실행
    function checkAll(){
        //체크박스 속성 ckecked가 true일때
        if($("#checkall").prop("checked")){
            $("input[name=cartChkBox]").prop("checked",true);
        }else {
            $("input[name=cartChkBox]").prop("checked",false);
        }
        getOrderTotalPrice();
    }
    //수량변경될때 실행될 함수
    function changeCount(obj){
        let count = obj.value;
        let cartItemId = obj.id.split('_')[1];  ///count_23 --> ["count","23"]
        let price = $("#price"+cartItemId).attr("data-price");
        console.log("수량" + count)
        console.log("가격" + price)
        console.log("장바구니아이템아이디" + cartItemId)
        let totalPrice = count*price;
        $("#totalPrice_"+cartItemId).html(totalPrice+"원");
        getOrderTotalPrice();
        updateCartItem(cartItemId,count);
    }
    //수량변경될때 데이터베이스 업데이트요청
    function updateCartItem(cartItemId,count){
        $.ajax({
            url: "/cartItem/"+cartItemId+"?count="+count,
            type: "post",
            dataType: "json",
            success:function(result){
                console.log("장바구니아이템 수량 업데이트 성공");
            },
            error: function(error){
                alert(error.responseText);
            }
        })
    }

    //주문하기
    function order(){
        //전송될 배열생성
        let dataList = [];

        //선택된 체크박스순서대로 함수실행
        //오브젝트 만들어서 dataList넣기
        $("input[name=cartChkBox]:checked").each(function(){
            let cartItemId =  $(this).val();
            //객체 생성
            let data = { cartItemId: cartItemId }
            //let dataList = [{ cartItemId: 10 },{ carItemId: 20 },{ carItemId: 22 }];
            //배열에 넣기
            dataList.push(data);
        })
        console.log(dataList);
         //전송될 데이터
        let paramObject = { cartOrderDtoList : dataList };
        //Json타입 JSON.stringify(obj) ---> json리턴
        let param = JSON.stringify(paramObject);
        $.ajax({
            url:"/cart/order",
            type: "post",
            contentType: "application/json",
            data: param,
            dataType: "json",
            success: function(result){
                alert("주문이 완료되었습니다.");
                location.href="/orders";
            },
            error: function(error){
                alert(error.responseText)
            }
        })
    }
</script>
</html>